{% extends 'user/base.html' %}

{% block title %} Address... {% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <div>
                <form action="" method="post">
                    {% csrf_token %}
                    Customer_Name : <input type="text" name="cname" class="form-control" />
                    Flat_No. : <input type="text" name="flat" class="form-control" />
                    Landmark : <input type="text" name="landmark" class="form-control" /> 
                    city : <input type="text" name="city" class="form-control" />
                    state : <input type="text" name="state" class="form-control" />
                    pincode : <input type="number" name="pincode" class="form-control" />
                    contact : <input type="phone" name="contact" class="form-control" />
                    alternate_contact : <input type="phone" name="acontact" class="form-control" />
                    <input type="submit" value="Add_Address" class="btn btn-success mt-2" />
                </form>
            </div>
        </div>
        <div class="col-lg-6">
            {% for i in adata %}
            <div class=" shadow border mt-2">
                    <h5>Name : {{i.name}}</h5>
                    <p>
                        <span>{{i.flat}}</span>
                        <span>{{i.landmark}}</span>
                        <span>{{i.city}}</span>
                        <span>{{i.pincode}}</span>
                        <span>{{i.state}}</span>
                    </p>
                    <h5>contact : {{i.contact}}</h5>
                    <h5>alternate_contact : {{i.contactA}}</h5>
            </div>
            {% endfor %}

        </div>
    </div>
</div>


{% endblock %}