<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
</head>
<body>
   <div class="container">
    <div class="row">
        <div class="col-lg-8 offset-2">
            <div>
                <form action="" method="post">
                    {% csrf_token %}
                    username:<input type="text" name="uname" class="form-control" />
                    password:,<input type="password" name="pass" class="form-control" />
                    <input type="submit" value="Login" class="btn btn-warning" />
                </form>
            </div>
        </div>
    </div>
   </div>
</body>
</html>