<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <style>
        .s{
            background-color: aquamarine;
            color: blueviolet;
            text-align: center;
        }
        h3{
            color: green;
        }
    </style>
</head>
<body>
    <div class="container mt-5 ">
        {% if messages %}
        {% for message in messages %}
              <h3>{{message}}</h3>
        {% endfor %}
        {% endif %}
        <div class="row ">
            <div class="col-lg-8 offset-2 shadow border">
                <div class="s mt-3">
                    {% if messages %}
                {% for message in messages %}
                    <h1>{{message}}</h1>
                {% endfor %}
                {% else %}
                <h1>
                    Sign Up To Pet Store
                </h1>
                {% endif %}
                    
                </div>
                <form action="" method="post" >
                    {% csrf_token %}
                    username:<input type="text" name="uname" class="form-control" />
                    Email :<input type="email" name="email" class="form-control" />
                    Password :<input type="password" name="pass" class="form-control" />
                    <input type="submit" class="btn btn-success mb-3 mt-3" value="Sign_UP" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>